<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" xml:lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
    <!--[if lt IE 9]>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Aleš Trunda alestrunda.cz">
    <meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/icon.png">

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Icon-Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" type="text/css">
    <!--[if IE 7]>
    	<link rel="stylesheet" href="assets/font-awesome/font-awesome/css/font-awesome-ie7.min.css" type="text/css">
    <![endif]-->
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900italic,300,400italic%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/owl-carousel2/assets/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/lightbox/css/lightbox.css" type="text/css">
    <link rel="stylesheet" href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/styles/animate.min.css" type="text/css">
    <link rel="stylesheet" href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/styles/main.css" type="text/css">
    <link rel="stylesheet" href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/customizer.css" type="text/css">
    
	<title>Plano de Resíduos</title>
    
    <script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/js/modernizr-custom.min.js"></script>
</head>

<style type="text/css">
    body > section, body .section{
        padding-top: 20px;
    }
    .owl-nav{
    	display: none;
    }
</style>

<body data-spy="scroll" data-target="#navbar-fixed" data-offset="90">
	<div id="page-loader" class="active">
    	<div class="page-loader-content">
            <div class="page-loader-inner">
            	<img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/logo_v2.png">
                <div class="page-loading-text">
                	Carregando
                    <span class="page-loading-dot page-loading-dot1"></span>
                    <span class="page-loading-dot page-loading-dot2"></span>
                    <span class="page-loading-dot page-loading-dot3"></span>
              	</div>
            </div>
        </div>
    </div><!-- #page-loader -->

    <header class="page-header">
      	<nav class="navbar navbar-default navbar-fixed-top clearfix" id="navbar-fixed">
        	<div class="container">
            	<h1 class="site-logo"><img alt="Built" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/logo_v1.png"></h1>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <i class="fa fa-reorder"></i>
                </button>
                <div class="main-navigation-wrapper">
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav main-navigation clearfix" id="one-page-nav">
                            <li>
                                <a href="#">Home</a>
                          	</li>
                            <li>
                                <a href="#">Quem Somos</a>
                          	</li>
                            <li>
                                <a href="#">Valores</a>
                          	</li>
                            <li>
                                <a href="#">Legal</a>
                          	</li>
                            <li>
                                <a href="#">Contato</a>
                          	</li>
                            <li>
                                <a href="#">Login</a>
                            </li>
                        </ul>
                    </div><!-- .collapse -->
            	</div><!-- .main-navigation-wrapper -->
        	</div><!-- .container -->
     	</nav>
    </header>
    
    <div class="page-header-placeholder"></div>
    
    <section id="home" class="no-padding">
    	<div id="slider-top" class="owl-arrows-inside">
<!--         	<div class="bg-pattern">
        		<img alt="slide img" src="assets/images/slider/2.jpg">
          	</div> -->
        	<div class="bg-pattern">
            	<img alt="slide img" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/slider/3.jpg">
          	</div>
        	<div class="bg-pattern">
        		<img alt="slide img" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/slider/4.jpg">
        	</div>
        </div><!-- #slider-top -->
    </section>
    
    <section>
    	<div class="container">
        	<div class="row">
                <div class="article-over col-md-4 onscroll-animate">
                    <div class="article-img">
                        <div class="article-img-content">
                            <img alt="article img" class="img-full" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/services/1.jpg">
                        </div>
                    </div>
                    <h4>Para sua empresa</h4>
                    <p>Como dita a política nacional de resíduos sólidos, cada empresa geradora desse tipo de subproduto deve desenvolver um Plano de Gerenciamento de Resíduos Sólidos (PGRS). Faça o seu com a Residuos.com</p>
                    <a href="#" class="read-more-link">Saiba Mais</a>
                </div><!-- .article-over -->
                <div class="article-over col-md-4 onscroll-animate" data-delay="350">
                    <div class="article-img">
                        <div class="article-img-content">
                            <img alt="article img" class="img-full" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/services/2.jpg">
                        </div>
                    </div>
                    <h4>Para sua Obra</h4>
                    <p>Toda obra deve portar seu Plano de Gerenciamento de Resíduos da Construção Civil (PGRCC), uma exigência municipal. Nós fazemos seu planejamento com foco na destinação dos resíduos e nas exigências governamentais.</p>
                    <a href="#" class="read-more-link">Saiba Mais</a>
                </div><!-- .article-over -->
                <div class="article-over col-md-4 onscroll-animate" data-delay="500">
                    <div class="article-img">
                        <div class="article-img-content">
                            <img alt="article img" class="img-full" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/services/3.jpg">
                        </div>
                    </div>
                    <h4>Para seu Município</h4>
                    <p>O Plano Municipal de Gestão de Resíduos Sólidos (PMGRS), uma obrigação de cada município com a política nacional de resíduos sólidos. A elaboração desse plano exige uma equipe experiênte e multidisciplinar como a nossa.</p>
                    <a href="#" class="read-more-link">Saiba Mais</a>
                </div><!-- .article-over -->
        	</div><!-- .row -->
        </div><!-- .container -->
    </section>
    
    <section class="section-dark section-small">
    	<div class="container text-center text-promote">
    		Tem interesse em nossos serviços?
            <span class="btn-group-full">
            	<a href="#" class="btn-box-color btn-big margin-left-lg onscroll-animate" data-animation="flipInY">Cadastre-se</a>
                <a href="#" class="btn-box-color btn-big margin-left-md onscroll-animate" data-animation="flipInY" data-delay="300">Entre em contato</a>
    		</span>
        </div>
    </section>
    
    <section class="">
    	<div class="section-header">
        	<div class="container">
            	<div class="section-header-content">
            		<h1>Nossos diferenciais</h1>
            	</div>
            </div>
        </div><!-- .section-header -->
        <div class="container">
        	<div class="row">
                <div class="centered-columns">
                    <div class="centered-column col-md-6 responsive-column-md">
                        <ul class="icon-tabs" role="tablist">
                            <li>
                                <a href="#tab1-content" aria-controls="tab1-content" role="tab" data-toggle="tab">
                                    <article class="row">
                                        <div class="centered-columns">
                                            <div class="col-sm-4 centered-column">
                                                <div class="circle-icon onscroll-animate no-opacity" data-animation="pulse">
                                                    <i class="fa fa-briefcase"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 centered-column circle-icon-info">
                                                <h4>Experiência</h4>
                                                <p>Contamos com um time de profissionais altamente especializado e dedicado a soluções ambientais.</p>
                                            </div>
                                    	</div>
                                    </article>
                                </a>
                            </li>
                            <li>
                                <a href="#tab2-content" aria-controls="tab2-content" role="tab" data-toggle="tab">
                                    <article class="row">
                                        <div class="centered-columns">
                                            <div class="col-sm-4 centered-column">
                                                <div class="circle-icon onscroll-animate no-opacity" data-animation="pulse" data-delay="400">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 centered-column circle-icon-info">
                                                <h4>Agilidade</h4>
                                                <p>Suas soluções com maior rapidez e flexibilidade. De um jeito que só a tecnologia pode oferecer.</p>
                                            </div>
                                    	</div>
                                    </article>
                                </a>
                            </li>
                            <li>
                                <a href="#tab3-content" aria-controls="tab3-content" role="tab" data-toggle="tab">
                                    <article class="row">
                                    	<div class="centered-columns">
                                            <div class="col-sm-4 centered-column">
                                                <div class="circle-icon onscroll-animate no-opacity" data-animation="pulse" data-delay="600">
                                                    <i class="fa fa-legal"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 centered-column circle-icon-info">
                                                <h4>Personalização</h4>
                                                <p>Não importa qual seja seu empreendimento. Nós temos uma solução adaptada às suas necessidades e à legislação da sua região.</p>
                                            </div>
                                    	</div>
                                    </article>
                                </a>
                            </li>
                        </ul>
                    </div><!-- .centered-column -->
                    <div class="centered-column col-md-6 responsive-column-md">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab1-content">
                                <a href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/services/big_2.jpg" data-lightbox="service-img1"><img class="img-full" alt="photo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/experiencia_v1.png"></a>
                                <p class="description">
                                    Nossa equipe conta com profissionais graduados nas melhores universidades do país. Um time multidisciplinar e experiênte especializado no desenvolvimento de soluções ambientais. Temos o foco voltado para a agilização de processos burocráticos, respeitando sempre os mais importantes princípios éticos da preservação ambiental.
                                </p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab2-content">
                                <a href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/services/big_1.jpg" data-lightbox="service-img2"><img class="img-full" alt="photo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/agilidade_v1.png"></a>
                                <p class="description">
                                    Nós sabemos que o mercado atual exige soluções ageis e flexíveis. Nossa proposta é unir ferramentas tecnológicas com experiência de mercado para atender as demandas das empresas mais competitivas do mercado. Conheça nossa plataforma e descubra uma nova forma de lidar com projetos ambientais.
                                </p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab3-content">
                                <a href="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/services2/big.jpg" data-lightbox="service-img3"><img class="img-full" alt="photo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/personalizacao_v1.png"></a>
                                <p class="description">
                                    Cada projeto tem sua particularidade. Não importa qual sua região ou seu empreendimento, nós estamos preparados para lidar com uma grande variedade de projetos e requisitos legais. 
                                </p>
                            </div>
                        </div><!-- .tab-content -->
                    </div><!-- .centered-column -->
                </div><!-- .centered-columns -->
        	</div><!-- .row -->
        </div><!-- .container -->
    </section>
    
    <section class="section-big dark-cover-7 text-white parallax-background" id="section-testimonials2">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-8 col-md-offset-2">
                	<h1 class="text-center">Nossos Fundadores</h1>
                    <div id="slider-testimonials-dots">
                    	<div class="owl-dot">
                        	<img alt="testimonial avatar" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/renato_v1.png">
                        </div>
                        <div class="owl-dot">
                        	<img alt="testimonial avatar" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/augusto_v1.png">
                        </div>
                        <div class="owl-dot">
                        	<img alt="testimonial avatar" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/fabricio_v1.png">
                        </div>
                    </div><!-- #slider-testimonials-dots -->
                    <div class="onscroll-animate">
                        <div id="slider-testimonials">
                            <div class="quote-alt">
                                <div class="quote-author">
                                    Renato Dallora
                                </div>
                                <div class="quote-author-detail">
                                    CEO & Fundador
                                </div>
                                Engenheiro Civil pela Escola Politécnica da USP e Mestrando em Planejamento de Gestão de Resíduos
                            </div>
                            <div class="quote-alt">
                                <div class="quote-author">
                                    Augusto Bardivia
                                </div>
                                <div class="quote-author-detail">
                                    CMO & Fundador
                                </div>
                                Engenheiro Ambiental pela Escola Politécnica da USP
                            </div>
                            <div class="quote-alt">
                                <div class="quote-author">
                                    Fabrício Schiavo
                                </div>
                                <div class="quote-author-detail">
                                    CTO & Fundador
                                </div>
                                Engenheiro Mecatrônico pela Escola Politécnica da USP e Mestrando em Inovação
                            </div>
                        </div><!-- #slider-testimonials -->
                	</div><!-- .onscroll-animate -->
                </div><!-- .col-md-8 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
    
    <section id="blog">
    	<div class="section-header">
        	<div class="container">
            	<div class="section-header-content">
                    <h1>Notícias</h1>
                    <p class="onscroll-animate" data-animation="fadeInRight">
                        Saiba o que está rolando no Brasil e no mundo no que se refere a engenharia ambiental e meio ambiente!
                    </p>
            	</div>
            </div>
        </div><!-- .section-header -->
        <div class="container">
        	<div class="row">
            	<div class="col-md-4 onscroll-animate">
                	<div class="post">
                    	<div class="post-preview">
                    		<img alt="post preview" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/paris.png">
                            <div class="post-labels">
                                <div class="post-label">12-AGO-2016</div>
                                <br>
                                <div class="post-label-alt">by Ascom</div>
                            </div>
                        </div>
                        <div class="post-content">
                        	<h3><a href="http://www.mma.gov.br/index.php/comunicacao/agencia-informma?view=blog&id=1773">Brasil validará pacto em defesa do clima</a></h3>
                            Senado Federal aprova o Acordo de Paris. Com isso, o País está autorizado a ratificar sua participação no tratado internacional.
                        </div>
                    </div><!-- .post -->
                </div><!-- .col-md-4 -->
            	<div class="col-md-4 onscroll-animate" data-delay="350">
                	<div class="post">
                    	<div class="post-preview">
                    		<img alt="post preview" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/data.png">
                            <div class="post-labels">
                                <div class="post-label">12-AGO-2016</div>
                                <br>
                                <div class="post-label-alt">by Ascom</div>
                            </div>
                        </div>
                        <div class="post-content">
                        	<h3><a href="http://www.mma.gov.br/index.php/comunicacao/agencia-informma?view=blog&id=1776">Dados de emissões de poluentes serão públicos</a></h3>
                            MMA e Ibama trabalham na implementação de sistema nacional para dar transparência às informações sobre emissões e transferência de poluentes.
                        </div>
                    </div><!-- .post -->
                </div><!-- .col-md-4 -->
            	<div class="col-md-4 onscroll-animate" data-delay="500">
                	<div class="post">
                    	<div class="post-preview">
                    		<img alt="post preview" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/sarney.png">
                            <div class="post-labels">
                                <div class="post-label">12-AGO-2016</div>
                                <br>
                                <div class="post-label-alt">by Ascom</div>
                            </div>
                        </div>
                        <div class="post-content">
                        	<h3><a href="http://www.mma.gov.br/index.php/comunicacao/agencia-informma?view=blog&id=1772">Sarney Filho reforça diálogo com municípios</a></h3>
                            Participação dos gestores locais na agenda ambiental é tema de encontro do ministro com o Fórum de Secretários de Meio Ambiente das Capitais.
                        </div>
                    </div><!-- .post -->
                </div><!-- .col-md-4 -->
            </div><!-- .row -->
            <div class="text-center">
            	<a href="blog.html" class="btn-box-gray onscroll-animate" data-animation="flipInY">Veja mais aqui</a>
            </div>
        </div><!-- .container -->
 	</section>
    
    <section class="no-top-padding">
    	<div class="section-header">
        	<div class="container">
            	<div class="section-header-content">
                    <h1>Quem já trabalhou conosco?</h1>
                    <p class="onscroll-animate" data-animation="fadeInRight">
                        Conheça aqui alguns dos nossos clientes. Histórias de sucesso no desenvolvimento de soluções ambientais
                    </p>
            	</div>
            </div>
        </div><!-- .section-header -->
        <div class="container text-center">
        	<div class="row">
            	<div class="col-md-12-5">
                    <div class="logo-hover">
                        <img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/logos/1.png">
                        <div class="logo-hover-img">
                            <img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/logos/1_hover.png">
                        </div>
                    </div>
        		</div>
            	<div class="col-md-12-5">
                    <div class="logo-hover">
                        <img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/logos/2.png">
                        <div class="logo-hover-img">
                            <img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/logos/2_hover.png">
                        </div>
                    </div>
        		</div>
            	<div class="col-md-12-5">
                    <div class="logo-hover">
                        <img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/logos/3.png">
                        <div class="logo-hover-img">
                            <img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/logos/3_hover.png">
                        </div>
                    </div>
        		</div>
            	<div class="col-md-12-5">
                    <div class="logo-hover">
                        <img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/logos/4.png">
                        <div class="logo-hover-img">
                            <img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/logos/4_hover.png">
                        </div>
                    </div>
        		</div>
            	<div class="col-md-12-5">
                    <div class="logo-hover">
                        <img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/logos/5.png">
                        <div class="logo-hover-img">
                            <img alt="logo" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/images/logos/5_hover.png">
                        </div>
                    </div>
        		</div>
          	</div><!-- .row -->
        </div><!-- .container -->
  	</section>
    
    <div class="section section-color section-tiny">
    	<div class="container onscroll-animate" data-animation="fadeIn">
        	<div class="row">
            	<div class="col-md-6 text-sm-center responsive-column-xs">
                	<div class="margin-5"></div>
                	<span class="text-uppercase text-font-alt">Entre em contato conosco nas redes sociais</span>
                </div>
                <div class="col-md-6 text-right text-sm-center responsive-column-xs">
                    <a href="#" class="social"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social"><i class="fa fa-skype"></i></a>
                </div>
        	</div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .section -->
    
    <footer class="page-footer">
        <div class="site-info">
        	<div class="container clearfix">
                <div class="site-info-right" style="float: none; text-align: center;">
                	<ul class="main-navigation">
                    	<li><a href="#">Home</a></li>
                        <li><a href="#">Quem Somos</a></li>
                        <li><a href="#">Valores</a></li>
                        <li><a href="#">Legal</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
            </div><!-- .container -->
        </div><!-- .site-info -->
    </footer>
	
	<script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/owl-carousel2/owl.carousel.min.js"></script>
    <script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/lightbox/js/lightbox.min.js"></script>
    <script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/plano-de-residuos/assets/js/custom.js"></script>
	<!-- <script type="text/javascript" src="../customizer/customizer.js"></script> -->
</body>
</html>
